.list-item{
    transition: all ease-in-out .1s;
}
.list-item:hover{
    background-color: #3f3d3dce;
    color: #fff;
}
.allBreads-bg{
    background-image:linear-gradient(to right, #0F2027 ,#203A43, #2C5364);
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;
}
.allBreads-dis{
    display:flex;
     justify-content: space-between;
}